.home_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    flex: 1;
    justify-content: center;
    margin: 0px auto;

}

.home_image {
    max-width: 580px;
}

.homesectionone {
    display: flex;
    width: 100%;
    max-width: 1500px;
    gap: 100px;
    margin:100px 0px;
    justify-content: center;
}


.homepagesection_right {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    max-width: 600px;
    gap: 20px;
}



.homesection_heading {
    background-image: url('../../assets/headingbackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 30px;
}

.sectiononeparagraf {
    font-weight: bold;
    font-size: 24px;
}

.homesectiontwo {
    min-height: 100vh;
    display: flex;
    width: 100%;
    max-width: 1500px;
    gap: 100px;
    margin:100px 0px;
    justify-content: center;
    align-items: center;
   background: linear-gradient(45deg, #b6f1aa, #69b9f5, #b6f1aa, #69b9f5);
}

.homesectiontwo_left {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    max-width: 400px;
    gap: 20px;
}

.homesectiontwo_heading {
    background-image: url('../../assets/sectiontwo.png');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 30px;
}

.sectiontwo_image {
    max-width: 580px;
    background-image: url('../../assets/sectiontwobcg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeatn;
}

/*section three*/
.works_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    flex: 1;
    justify-content: center;
    margin: 0px auto;
}
.heading {
    display: flex;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
}

.heading  h1 {
    font-size: 50px;
    font-weight: bold;
}

.heading p {
    max-width: 500px;
    font-weight: bold;
    font-size: 16px;
}

.works_page {
    display: flex;
    width: 100%;
    max-width: 1500px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.work_part {
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    max-width: 400px;
}

.work_part h2 {
    max-width: 200px;
}

.sectionthree_image {
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
}


/*sectiojn four*/

.feedback_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    flex: 1;
    justify-content: center;
    margin: 0px auto;
    background-color: #b6f1aa;
    min-height: 100vh;
    margin-top: 50px;
}

.feedback_page {
    display: flex;
    width: 100%;
    max-width: 1300px;
    gap: 20px;
    justify-content: center;
    align-items: center;   
    padding: 20px;
}
.heading {
    background-image: url('../../assets/sectionfourbcg.png');
    background-position: center;
    background-size: cover;
}

.feedback_part {
    padding: 10px;
    max-width: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.sectionfour_image {
    border-radius: 20px;
    width: 100%;
    max-width: 100px;
}

@media screen and (max-width: 900px) {
    .home_wrapper {
        width: 90%;
        flex: 0;
        margin-top: 150px;
    }
}

@media screen and (max-width: 600px) {
    .home_wrapper {
        margin-top: 100px;
    }

    .home_wrapper h1 {
        font-size: 24px;
    }

    .home_wrapper p {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .home_wrapper {
        margin-top: 50px;
    }
}